.App {
  display: grid;
  grid-template-columns: var(--left-column-width) auto var(--right-column-width);
  grid-column-gap: 5rem;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.topics {
  grid-column: 1 / 2;
}

.article {
  grid-column: 2 / 3;
}


.loading {
  grid-column: 2 / 3;
}

.is-loading {
  opacity: 0;
}

.is-loaded {
  opacity: 1;
  transition: 0.6s ease-in all;
}

.previous {
  display: block;
  margin: 5rem auto;
}

.contact {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
}
