.article {
  display: grid;
}

.heading {
  /* display: flex; */
  /* justify-content: space-between; */
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.article__heading {
  color: var(--tertiary-text);
  text-transform: uppercase;
}

.article__sort {
  justify-self: end;
}

.article__grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 60px auto;
  grid-template-rows: auto;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.article__grid > a {
  text-decoration: none;
  color: var(--primary-text);
}

.article__grid > a:hover {
  color: var(--accent-color);
}

.article__votes {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.votes {
  grid-column: 1 / 2;
  margin: 2rem 0 1rem 0;
  font-weight: 100;
}

.comments {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 1.5rem;
  color: var(--tertiary-text);
}

.comments > span {
  font-size: 1.1rem;
}

.article__title {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin: 2rem 0 1rem 0;
}

.article__title > a {
  text-decoration: none;
  color: var(--primary-text);
}

.article__title > a:hover {
  color: var(--accent-color);
}

.star {
  color: var(--accent-color);
  font-size: 2.2rem;
}

.star:hover {
  cursor: default;
}

.article__desc {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  color: var(--secondary-text);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article__time {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  color: var(--tertiary-text);
  font-size: 1.2rem;
}

.article__author {
  color: var(--tertiary-text);
  text-decoration: none;
}

.article__author:hover {
  color: var(--accent-color);
}

.showmore {
  justify-self: center;
  margin-top: 1.5rem;
  color: var(--secondary-text);
}

