.link {
  text-decoration: none;
}

.previous {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--primary-text);
}

.previous:hover {
  cursor: pointer;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}